<div class=navbar>
<div>
<%= link_to "My List", lists_path, class:"button" %>
<%= link_to "New List", new_list_path, class: "button"%>

</div>

</div>

<div class="home">
<h1>Save any kind of movies</h1>
</div>
