.container {
  width: 500px;
  height: 400px;
}

.card {
  width: 400px ;
  height: 500px;
  margin-bottom: 20px ;
}

.list_container {
  height: 200px;
  background-size: cover;
  background-position: top;
}

.movie_card {
  height: 200px;
  padding: 10px;
}
